@use "../util/mixins" as utils;
.features {
  text-align: center;
  padding-bottom: 6rem;

  @include utils.media-up(md) {
    margin-top: -15rem;
  }
  @include utils.media-up(lg) {
    margin-top: 0rem;
    padding: 0;
  }
  @include utils.media-up(xl) {
    margin-top: -2rem;
    padding: 0;
  }

  .wrapper {
    @include utils.wrapper1();
    @include utils.media-up(lg) {
      max-width: 650px;
      margin: 0 auto;
    }
    h2 {
      @include utils.media-up(lg) {
        font-size: 2.2rem;
      }
    }
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: var(--grayishBlue);
      line-height: 1.5rem;
      font-size: 98%;
      @include utils.media-up(lg) {
        padding: 0 1rem;
        font-size: 1.2rem;
      }
    }
  }
  .features__options {
    border-top: 1px solid rgb(228, 225, 225);
    border-bottom: 1px solid rgb(228, 225, 225);
    @include utils.media-up(md) {
      display: flex;
      flex-direction: row;
      border-top: none;
    }
    @include utils.media-up(lg) {
      margin-top: 4rem;
    }
    &--option {
      border-bottom: 1px solid rgb(228, 225, 225);
      padding: 1rem 0;
      position: relative;
      @include utils.media-up(md) {
        padding: 1.5rem 1.8rem;
      }
    }
    &--option:last-child {
      border: none;
    }
    &--option.active {
      font-weight: 600;
    }
    &--option.active::after {
      content: "";
      position: absolute;
      width: 40%;
      background-color: var(--softRed);
      height: 0.25rem;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @include utils.media-up(md) {
        width: 100%;
      }
    }

    &--option:hover {
      color: var(--softRed);
    }
  }
  &__container {
    margin-top: 2rem;
    @include utils.media-up(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &--image {
      width: 100%;
      margin: 0 auto;
      position: relative;
      @include utils.media-up(md) {
        grid-column: 1/2;
      }
      @include utils.media-up(lg) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      img {
        width: 80%;
        @include utils.media-up(md) {
          width: 80%;
          // justify-self: right;
        }
        @include utils.media-up(lg) {
          margin-top: 4rem;
          max-width: 650px;
          // justify-self: right;
          // align-self: right;
          // margin-right: auto;
        }
      }
      .image-decoration {
        position: absolute;
        background: var(--softBlue);
        height: 13rem;
        width: 80%;
        bottom: -2rem;
        left: 0;
        z-index: -1;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        @include utils.media-up(md) {
          // height: 14rem;
          // align-self: right;
        }
        @include utils.media-up(lg) {
          height: 18rem;
          width: 75%;
          bottom: -5rem;
        }
      }
    }
  }
  &__info {
    @include utils.wrapper1;
    margin-top: 4rem;

    @include utils.media-up(md) {
      text-align: left;
      padding-right: 6rem;
    }
    @include utils.media-up(xl) {
      padding-left: 0;
    }

    h2 {
      margin-bottom: 1rem;
      @include utils.media-up(md) {
        // height: 14rem;
        // align-self: right;
      }
      @include utils.media-up(lg) {
        font-size: 2.5rem;
      }
    }
    p {
      color: var(--grayishBlue);
      font-size: 95%;
      line-height: 1.5rem;
      @include utils.media-up(lg) {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
    button {
      margin-top: 1rem;
    }
  }
}
